
<!-- Please don't translate this file but l10n/missions/plm.pot (see https://github.com/oster/PLM/wiki/Working-on-translations) -->
<h1>BuggleWorld</h1>
Este mundo foi inventado por Lyn Turbak, na Wellesley College. Está cheio de
Buggles, pequenos animais que entendem ordens simples e oferece numerosas
possiblidades de interação com o mundo: apanhar e soltar objetos, pintar o
chão, bater em paredes, etc.

<h2>Métodos que os buggles entendem</h2>
<table border=1>
<tr><td colspan=2 align=center><b>A mover</b><br/> (Veja também a nota sobre exceções, abaixo)</td></tr>
  <tr><td><b>Virar à esquerda<br/>Virar à direita<br/>Dar meia volta<br/>Mover para a frente<br/>Mover para trás</b></td>
      <td>[!java|c]void [/!]left()<br/>
          [!java|c]void [/!]right()<br/>
          [!java|c]void [/!]back()<br/>
          [!java|c]void [/!][!python|java|scala]forward()[/!][!c]stepForward()[/!] or
[!java|c]void [/!]forward([!java|c]int [/!]steps[!scala]:Int[/!])<br/>
          [!java|c]void [/!][!python|java|scala]backward()[/!][!c]stepBackward()[/!]
or [!java]void [/!]backward([!java|c]int [/!]steps[!scala]:Int[/!])<br/></td></tr>
  <tr><td><b>Obter coordenada X<br/>Obter coordenada Y<br/>Ajustar coordenada X<br/>Ajustar coordenada Y<br/>Ajustar posição</b></td>
      <td>[!java|c]int [/!]getX()[!scala]:Int[/!]<br/>
          [!java|c]int [/!]getY()[!scala]:Int[/!]<br/>
          [!java|c]void [/!]setX([!java|c]int [/!]x[!scala]:Int[/!])<br/>
          [!java|c]void [/!]setY([!java|c]int [/!]y[!scala]:Int[/!])<br/>
          [!java|c]void [/!]setPos([!java|c]int [/!]x[!scala]:Int[/!], [!java|c]int
[/!]y[!scala]:Int[/!])</td></tr>
<tr><td colspan=2>Observe que o ponto (0,0) está no canto superior esquerdo, o que é comum em
ciência da computação.</td></tr>

<tr><td colspan=2 align=center><b>Informações sobre o buggle</b></td></tr>
  <tr><td><b>Obter a cor do corpo<br/>Ajustar a cor do corpo</b></td>
      <td>[!java|c]Color [/!]getBodyColor()[!scala]:Color[/!]<br/>
          [!java|c]void [/!]setCorDoCorpo([!java|c]Cor [/!]c[!scala]:Cor[/!])</td></tr>				
  <tr><td><b>Procura por uma parede à frente<br/>Procura por uma parede atrás</b></td>
      <td>[!java]boolean [/!][!c]int [/!]isFacingWall()[!scala]:Boolean[/!]<br/>
          [!java]boolean [/!][!c]int [/!]isBackingWall()[!scala]:Boolean[/!]</td></tr>				
  <tr><td><b>Obter direção<br/>Ajustar direção</b><br/>direções válidas são:</td>
      <td>[!java|c]Direction [/!]getDirection()[!scala]:Direction[/!]<br/>
          [!java|c]void [/!]ajustaDireção([!java|c]Direção
[/!]dir[!scala]:Direção[/!])<br/>
          [!scala|java|python]Direção.[/!]NORTE,
[!scala|java|python]Direção.[/!]LESTE, [!scala|java|python]Direção.[/!]SUL e
[!scala|java|python]Direção.[/!]OESTE</td></tr>
  <tr><td>Verifica se o buggle está atualmente <b>selecionado na interface</b></td>
      <td>[!java]boolean [/!][!c]int [/!]isSelected()[!scala]:Boolean[/!]</td></tr>
 
<tr><td colspan=2 align=center><b>Sobre o pincel</b></td></tr>
  <tr><td><b>Abaixar pincel<br/>Levantar pincel<br/>Obter a posição do pincel</td>
      <td>[!java|c]void [/!]brushUp()<br/>
          [!java|c]void [/!]brushDown()<br/>
          [!java]boolean [/!][!c]int [/!]isBrushDown()[!scala]:Boolean[/!]</td></tr>
  <tr><td><b>Muda a cor do pincel<br/>Obtém a cor do pincel</b></td>
      <td>[!java|c]void [/!]setCorDoPincel([!java|c]Color [/!]c[!scala]:Color[/!])<br/>
          [!java|c]Color [/!]getBrushColor()[!scala]:Color[/!]</td></tr>

<tr><td colspan=2 align=center><b>A interagir com o mundo</b></td></tr>
  <tr><td><b>Obtém a cor do chão</b></td>
      <td>[!java|c]Color [/!]getGroundColor()[!scala]:Color[/!]</td></tr>

  <tr><td><b>Procura por um "baggle" no chão<br/>Procura por um "baggle" na bolsa<br/>Apanhar um "baggle"<br/>Solta um "baggle"</b><br/>
      (veja a nota sobre exceções)</td>
      <td>[!java]boolean [/!][!c]int [/!]isOverBaggle()[!scala]:Boolean[/!]<br/>
          [!java]boolean [/!][!c]int [/!]isCarryingBaggle()[!scala]:Boolean[/!]<br/>
          [!java]void [/!]pickupBaggle()<br/>
          [!java]void [/!]dropBaggle()<br/>
          &nbsp;</td></tr>

  <tr><td><b>Procura por uma mensagem<br/>Adiciona uma mensagem<br/>Lê a mensagem<br/>Apaga a mensagem</b></td>
      <td>[!java]boolean [/!][!c]int [/!]isOverMessage()[!scala]:Boolean[/!]<br/>
          [!java]void [/!]escreverMensagem([!java]String [/!][!c]char*
[/!]msg[!scala]:String[/!])<br/>
          [!java]String [/!][!c]char* [/!]readMessage()[!scala]:String[/!]<br/>
          [!java]void [/!]clearMessage()</td></tr>
</table>

<h2>Cores válidas</h2>
<table border=1>
<tr><td>Nome</td><td>Cor</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]black</td>    <td BGCOLOR="#000000">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]azul</td>     <td BGCOLOR="#0000FF">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]ciano</td>     <td BGCOLOR="#00FFFF">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]cinzentoEscuro</td> <td BGCOLOR="#404040">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]cinzento</td>     <td BGCOLOR="#808080">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]verde</td>    <td BGCOLOR="#00FF00">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]cinzentoClaro</td><td BGCOLOR="#C0C0C0">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]magenta</td>  <td BGCOLOR="#FF00FF">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]laranja</td>   <td BGCOLOR="#FFC800">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]rosa</td>     <td BGCOLOR="#FFAFAF">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]vermelho</td>      <td BGCOLOR="#FF0000">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]branco</td>    <td BGCOLOR="#FFFFFF">&nbsp;</td></tr>
<tr><td>[!scala|java|python]Cor.[/!]amarelo</td>   <td BGCOLOR="#FFFF00">&nbsp;</td></tr>
</table>

<h2>Nota sobre exceções</h2>
Buggles normais lançam uma exceção BuggleWallException se os pede atravessar
uma parede.  Lançam uma exceção NoBaggleUnderBuggleException se os pede
tirar um "baggle" de uma célula vazia, ou uma exceção
AlreadyHaveBaggleException se eles já carregam um "baggle".  Tentar soltar
um "baggle" numa célula que já contém outro lança uma exceção
AlreadyHaveBaggleException.  Soltar um "baggle" quando não tem nenhum lança
uma DontHaveBaggleException.
<p>SimpleBuggles (ie, aqueles usados nos primeiros exercícios) exibem uma
mensagem de erro num problema de forma que não precise saber o que é uma
exceção.</p>
