<h2>A Janela Principal do PLM</h2>

O ambiente de trabalho do PLM é auto-explicativo, principalmente com as
dicas que aparecem quando o mouse passa sobre elementos. Aqui está uma breve
explicação dos componentes caso não entenda algo. A janela principal é
composta de 5 componentes principais:

  <ul>

      <li><b>O menu:</b> posto na parte de cima da janela, dá-lhe acesso a alguns
comandos avançados, como sair do programa e alguns outros que falaremos mais
tarde.</li>

      <li><b>A barra de ferramentas:</b> Posta logo abaixo do menu, ela te dá acesso
aos quatro comandos principais:

      <ul>

	   <li>O botão <b>início</b>, que começa a compilação e a execução do código que
digitou no editor. No final da execução, verifica se alcançou uma situação
que constitui o objetivo do exercício ou não. Se sim, ganha acesso ao
próximo exercício a usar o menu <b>Exercício</b>. Se não, vai precisar
refazer o seu código.</li>
	   
	   <li>O botão <b>Parar</b> sempre serve para interromper a execução do seu código,
o que pode ser útil se entrar num <i>loop infinito</i>.</li>

	   <li>O botão <b>Reset</b> pode ser usado para reconfigurar o mundo para o estado
inicial.</li>
	
	   <li>O botão <b>Demo</b> mostra a execução da solução esperada. Durante a
execução pode alternar o mundo visto para ver as diferentes soluções
esperadas.<br/>
	   Note que às vezes existem várias maneiras de alcançar a solução esperada e
que aquela apresentada durante a demonstração não é mais ou menos certa que
as outras. É completamente livre para não seguir estritamente o processo
mostrado pela demonstração, desde que a sua solução final atinja o que
exercício pede.</li>
      </ul></li>
      
      <li><b>Guias de missão e editor:</b> é onde está a ler este texto. Esta área
contém várias abas as quais pode acessar a clicar no nome deles no canto
superior esquerdo. A primeira guia (que se chama sempre <b>Missão</b>)
contém uma apresentação do exercício atual. Para resolver um exercício,
precisa escrever o seu código nas outras guias. Por exemplo, pode agora
clicar na guia <b>Código Fonte</b> para ver o código real. Se estiver vazia,
é por que ainda não escreveu nenhum código.</li>

      <li><b>O console:</b> localizado abaixo das abas, é onde aparece qualquer
mensagem da aplicação. Esta área inicialmente é vazia e branca.</li>

      <li><b>Visão do mundo</b> localizada à direita das abas, é constituída de cinco
elementos:

      <ul>

	  <li>Um menu rolante serve para escolher o mundo. Na verdade, o programa que
escreveu pode ser executado em vários mundos para testá-lo em diferentes
condições. Este menu é para escolher o mundo que quer ver. Observe que este
menu rolante fica oculto se houver apenas um mundo no seu exercício.</li>
	  
	  <li>Um "slider" posto logo abaixo serve para escolher a velocidade da animação
do mundo. Mais precisamente, permite escolher o atraso (em milisegundos) que
os buggles devem esperar depois de cada ação para permitir que veja o que
eles estão a fazer.</li>

	  <li>Uma guia <b>Mundo</b> representa a visão de mundo atualmente selecionada (de
menu rolante). Esta visão é então constituída de uma grade a formar várias
células do mundo, assim como vários "<i>buggles</i>" a esperar as suas
ordens.</li>

	  <li>Uma guia <b>Objetivo</b> a mostrar o mundo como deveria ser no final do
exercício.</li>


          <li><b>Os controles interativos</b>. Localizados abaixo da Visão do mundo, estes
botões servem para controlar interativamente os buggles. Desta forma, pode
tentar trazer <i>manualmente</i> o seu buggle ao objetivo do cenário antes
de escrever o código necessário no editor.

          <ul>
              <li>Um menu rolante serve para selecionar o "buggle" que quer controlar.</li>
	    
              <li>O botão <b>Avançar</b> faz o seu "buggle" dar um passo à frente.</li>

              <li>O botão <b>Recuar</b> fá-lo dar um passo para trás.</li>

	      <li>O botão <b>Virar à esquerda</b> manda o seu "buggle" virar 90° à esquerda.</li>

	      <li>O botão <b>Virar à direita</b> manda o seu "buggle" virar à direita
(surpreendente, né?).</li>

              <li>O botão <b>Marcar</b> pede que o seu "buggle" deixe uma marca atrás dele
depois que sair.</li>

          </ul>

	  </li>

      </ul>
